.slick-slide img {
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 15px;
  border: 2px solid #ffffff;
  background: none;
}

.carousel-indicators .active {
  background: #ffffff;
}

.carousel-caption {
  position: absolute;
  left: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  right: auto;
  bottom: auto;
}

.carousel-caption h2 {
  font-size: 30px;
  color: #078523;
  text-align: left;
  font-weight: 600;
}

.carousel-caption h1 {
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
  text-align: left;
  font-weight: 600;
}

.carousel-caption h1 span {
  color: #078523;
}

.carousel-caption p {
  font-size: 16px;
  color: #ffffff;
  font-style: italic;
  text-align: left;
}

.header .navbar {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header #navbarSupportedContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-nav .nav-item .nav-link {
  position: relative;
}

.header .navbar-nav .nav-item .nav-link:hover:after {
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 130px;
  background: #078523;
  content: '';
  height: 8px;
  display: block;
}

.header .navbar-nav .nav-item .nav-link:hover {
  color: #078523;
}

.header .navbar-nav .nav-link {
  padding: 0 40px;
  font-size: 22px;
}

@media (max-width: 1440px) {
  .header .navbar-nav .nav-link {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .header .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

.header .navbar-nav .nav-link-pup a {
  color: #ffffff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  background: #0FB935;
  padding: 20px 50px;
  border: 2px solid #ffffff;
}

@media (max-width: 1440px) {
  .header .navbar-nav .nav-link-pup a {
    padding: 15px 25px;
  }
}

@media (max-width: 768px) {
  .header .navbar-nav .nav-link-pup a {
    margin-bottom: 20px;
  }
}

.header .navbar-nav .nav-link-pup a:hover {
  color: #078523;
  background: none;
  border: 2px solid #078523;
}

.container-fluid {
  padding: 0 60px;
}

@media (max-width: 1440px) {
  .container-fluid {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.text-inner {
  margin: 70px 0 30px;
}

.text-inner h2 {
  color: #1E1E1E;
  font-weight: 600;
  font-size: 34px;
}

.carousel {
  margin-top: 150px;
}

.top-product {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .top-product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.top-product__item {
  border: 1px solid #B8B8B8;
  border-radius: 8px;
  padding: 20px;
  margin: 0 15px 20px;
  min-width: 22%;
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1200px) {
  .top-product__item {
    max-width: 400px;
  }
}

@media (max-width: 575px) {
  .top-product__item {
    padding: 20px 10px;
  }
}

.top-product__item-img {
  max-width: 100%;
  margin: 0 20px;
}

.top-product__item-img img {
  display: block;
  max-height: 230px;
  height: auto;
  margin: 0 auto;
  max-width: 330px;
}

.top-product__item-art {
  margin-top: 60px;
  text-align: left;
  color: #B8B8B8;
  font-size: 14px;
}

@media (max-width: 575px) {
  .top-product__item-art {
    margin-top: 30px;
  }
}

.top-product__item-title {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .top-product__item-title {
    font-size: 18px;
  }
}

.top-product__item-title span {
  color: #B8B8B8;
  font-size: 18px;
}

.top-product__item-price {
  margin-top: 30px;
  color: #F18506;
  font-size: 24px;
  margin-bottom: 30px;
}

.top-product__item-buy a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  font-size: 24px;
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  border: 2px solid #0FB935;
  color: #0FB935;
  height: 68px;
}

.top-product__item-buy a:hover {
  background: #078523;
  border: 2px solid #078523;
  color: #ffffff;
}

.store {
  margin-bottom: 100px;
}

.store__box-item {
  padding-left: 60px;
  margin-bottom: 50px;
}

.store__box-item-title {
  position: relative;
}

.store__box-item-title h4 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 5px;
}

.store__box-item-title img {
  position: absolute;
  left: -50px;
}

.store__box-item-tel p {
  margin: 0;
}

.store__box-item-tel a {
  padding: 0;
  color: #000000;
}

.store__box-item-bold {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

/*articles*/
.category {
  margin-top: 150px;
}

.category__box {
  position: relative;
}

.category__box #collapseExampleMain {
  position: absolute;
  z-index: 10;
  width: 95%;
}

.category__box #collapseExampleMain .card {
  border: 1px solid #B8B8B8;
}

.category__box #collapseExampleMain .card #collapseExample .card {
  border: none;
}

.category__box #collapseExampleMain .card #collapseExample .card .nav-link {
  color: #1E1E1E;
}

.category__box-inner {
  background: #078523;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.category__box-inner .btn {
  font-size: 34px;
  width: 100%;
  text-align: left;
}

.category__box-inner .btn img {
  margin-left: 30px;
}

.category__box-inner .btn span {
  margin-left: 30px;
  color: #ffffff;
  font-weight: 600;
}

.category .form-control {
  height: 65px;
}

.paginations .page-link {
  border: none;
  color: #1E1E1E;
}

.paginations__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.paginations__button-prev a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  border: 2px solid #078523;
  width: 275px;
  height: 70px;
  color: #078523;
  font-size: 22px;
  margin: 0 15px;
}

.paginations__button-prev a:hover {
  border: 2px solid #078523;
  background: #078523;
  color: #ffffff;
}

.paginations__button-next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  border: 2px solid #078523;
  width: 275px;
  height: 70px;
  font-size: 22px;
  margin: 0 15px;
  background: #078523;
  color: #ffffff;
}

.paginations__button-next a:hover {
  color: #078523;
  border: 2px solid #078523;
  background: none;
}

.articles {
  margin-top: 50px;
}

.articles__box {
  margin-bottom: 50px;
}

.articles__box-img img {
  display: block;
  width: 100%;
}

.articles__box-title {
  margin-top: 30px;
}

.articles__box-title h2 {
  font-size: 34px;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .articles__box-title h2 {
    font-size: 24px;
  }
}

.articles__box-text p {
  font-size: 24px;
  line-height: 27px;
}

@media (max-width: 1440px) {
  .articles__box-text p {
    font-size: 18px;
  }
}

.articles__box-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*about*/
.center {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .center {
    margin-top: 60px;
    font-size: 34px;
  }
}

.about-one {
  margin-top: 150px;
}

.about-one__img img {
  display: block;
  width: 100%;
}

.about-one__title h2 {
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .about-one__title h2 {
    font-size: 34px;
  }
}

.about-one__title p {
  font-size: 24px;
  line-height: 27px;
  color: #1E1E1E;
}

@media (max-width: 1440px) {
  .about-one__title p {
    font-size: 18px;
    line-height: 20px;
  }
}

.about-two {
  margin-bottom: 100px;
}

@media (max-width: 1440px) {
  .about-two {
    margin-bottom: 50px;
  }
}

.about-two-img img {
  width: 100%;
}

.about-two__item {
  padding-left: 70px;
}

.about-two__number {
  position: absolute;
  left: 10px;
  top: 0;
}

.about-two__number span {
  position: absolute;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '';
  background: #DFF5E4;
  border-radius: 50%;
  color: #078523;
  font-weight: 600;
  font-size: 30px;
}

.about-two__title h3 {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .about-two__title h3 {
    font-size: 22px;
  }
}

.about-two__text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 27px;
}

@media (max-width: 1440px) {
  .about-two__text p {
    font-size: 18px;
    line-height: 20px;
  }
}

.about-two__content {
  margin-top: 80px;
  margin-bottom: 100px;
}

@media (max-width: 1440px) {
  .about-two__content {
    margin: 60px 0;
  }
}

.product {
  margin-top: 150px;
}

.product__sidebar-block {
  padding: 1.25rem;
}

.product__sidebar-block #collapseExample .card {
  border: none;
}

.product__sidebar-block #collapseExample .card .nav-link {
  color: #1E1E1E;
}

.product__sidebar-inner {
  border: 1px solid #B8B8B8;
  border-radius: 8px;
}

.product__sidebar-inner-text {
  background: #078523;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.product__sidebar-inner-text img {
  margin-left: 30px;
}

.product__sidebar-inner-text span {
  font-size: 34px;
  color: #ffffff;
  margin-left: 30px;
}

.product__sidebar-box .btn {
  text-align: left;
}

.product__sidebar-box .collapse .nav-link a {
  color: #1E1E1E;
}

.product__sector-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__sector-item {
  border: 1px solid #B8B8B8;
  border-radius: 8px;
  max-width: 410px;
  min-width: 320px;
  margin: 15px;
  max-height: 400px;
  width: 100%;
  display: block;
}

@media (min-width: 1440px) {
  .product__sector-item {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .product__sector-item {
    margin: 20px auto;
  }
}

.product__sector-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.product__sector-item a p {
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  color: #1E1E1E;
}

@media (max-width: 1440px) {
  .product__sector-item a p {
    font-size: 24px;
    line-height: 28px;
  }
}

.product__sector-item a img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto;
}

/*product-inner*/
.product-inner__left-img {
  border: 1px solid #B8B8B8;
  border-radius: 8px;
}

.product-inner__left-img img {
  width: 100%;
  border-radius: 8px;
}

.product-inner__left-feature-text {
  margin-top: 100px;
}

@media (max-width: 575px) {
  .product-inner__left-feature-text {
    margin-top: 50px;
  }
}

.product-inner__left-feature-text h2 {
  font-size: 30px;
  font-weight: 600;
}

.product-inner__left-feature-item {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #B8B8B8;
  margin-bottom: 25px;
}

@media (max-width: 575px) {
  .product-inner__left-feature-item {
    width: 100%;
  }
}

.product-inner__right-count {
  background: #DFF5E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 220px;
  height: 55px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
  font-size: 22px;
}

.product-inner__right-text h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}

@media (max-width: 575px) {
  .product-inner__right-text h1 {
    font-size: 22px;
    line-height: 30px;
  }
}

.product-inner__right-price {
  font-size: 32px;
  margin-top: 30px;
  color: #F18506;
}

@media (max-width: 575px) {
  .product-inner__right-price {
    font-size: 22px;
  }
}

.product-inner__right-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  max-width: 275px;
  width: 100%;
  background: #078523;
  color: #ffffff;
  font-size: 22px;
  margin: 40px 0;
  border: 2px solid #078523;
}

.product-inner__right-button a:hover {
  border: 2px solid #078523;
  background: none;
  color: #078523;
}

.product-inner__right-description h2 {
  font-size: 30px;
  font-weight: 600;
}

.bread {
  margin-top: 150px;
}

.bread .breadcrumb {
  background: none;
}

.bread .breadcrumb-item a {
  color: #1E1E1E;
}

.footer {
  background: #1E1E1E;
}

.footer-main {
  padding: 60px 0;
}

.footer-main__nav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.footer-main__box-title {
  color: #ffffff;
  font-size: 28px;
}

.footer-main__box p {
  color: #ffffff;
}

.footer-main__box p:nth-child(2) {
  position: relative;
  left: 45px;
}

.footer-main__box p:nth-child(2):after {
  position: absolute;
  left: -45px;
  top: 10px;
  display: block;
  content: '';
  width: 30px;
  height: 2px;
  background: #078523;
}

.footer-main__box a {
  color: #ffffff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  background: #0FB935;
  max-width: 350px;
  width: 100%;
  height: 70px;
  border: 2px soldi #078523;
}

.footer-main__box a:hover {
  color: #078523;
  background: none;
  border: 2px solid #078523;
}

.footer-copy {
  color: #ffffff;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */