$salat: #0FB935
$green: #078523
$black: #1E1E1E
$gray: #B8B8B8
$orange: #F18506
$white: #ffffff
$black-full: #000000
$ber: #DFF5E4
$shadow: 0px 0px 20px rgba(0, 0, 0, 0.2)
$mint: #DFF5E4

@mixin button ()
  display: flex
  justify-content: center
  align-items: center
  border-radius: 35px
  

.slick-slide 
  img
    margin: 0 auto
.carousel-control-prev,
.carousel-control-next
  width: 5%
.carousel-indicators li
  width: 10px
  height: 10px
  border-radius: 100%
  margin: 0 15px
  border: 2px solid $white
  background: none
.carousel-indicators .active
  background: $white
.carousel-caption
  position: absolute
  left: 100px
  top: 50%
  transform: translateY(-50%)
  width: 50%
  right: auto
  bottom: auto
  h2
    font-size: 30px
    color: $green
    text-align: left
    font-weight: 600
    @media ( max-width: 1440px )
      font-size: 20px
  h1
    font-size: 70px
    line-height: 80px
    color: $white
    text-align: left
    font-weight: 600
    @media ( max-width: 1440px )
      font-size: 30px
      line-height: 33px
    span
      color: $green
  p
    font-size: 16px
    color: $white
    font-style: italic
    text-align: left
    @media ( max-width: 1440px )
      font-size: 12px
.header
  .navbar
    background: $white
    box-shadow: $shadow
  #navbarSupportedContent
    justify-content: flex-end
    align-items: center
  .navbar-nav
    align-items: center
    .nav-item
      .nav-link
        position: relative
        &:hover:after
          position: absolute
          bottom: -40px
          width: 100%
          left: 50%
          transform: translateX(-50%)
          max-width: 130px
          background: $green
          content: ''
          height: 8px
          display: block
        &:hover
          color: $green
        @media ( max-width: 768px )
          &:hover:after
            display: none
    .nav-link
      padding: 0 40px
      font-size: 22px
      @media ( max-width: 1440px )
        padding: 0 15px
      @media ( max-width: 768px )
        padding: 10px 15px
    .nav-link-pup
      a
        color: $white
        font-size: 22px
        @include button ()
        background: $salat
        padding: 20px 50px
        border: 2px solid $white
        @media ( max-width: 1440px )
          padding: 15px 25px
        @media ( max-width: 768px )
          margin-bottom: 20px
        &:hover
          color: $green
          background: none
          border: 2px solid $green

.container-fluid
  padding: 0 60px
  @media ( max-width: 1440px )
    padding: 0 30px    
  @media ( max-width: 768px )
    padding: 0 15px

.text-inner
  margin: 70px 0 30px
  @media ( max-width: 768px )
    margin-top: 150px  
  h2
    color: $black
    font-weight: 600
    font-size: 34px
.carousel
  margin-top: 150px
  @media ( max-width: 768px )
    display: none
.top-product
  text-align: center
  justify-content: space-around
  flex-wrap: nowrap
  padding: 0 10px
  @media ( max-width: 1200px )
    flex-wrap: wrap
  &__item
    border: 1px solid $gray
    border-radius: 8px
    // padding: 40px 45px 35px
    padding: 20px
    margin: 0 15px 20px
    min-width: 22%
    width: 100%
    max-width: 420px
    display: flex
    flex-direction: column
    justify-content: flex-end
    @media ( max-width: 1200px )
      max-width: 400px
    @media ( max-width: 575px )
      padding: 20px 10px
    &-img
      max-width: 100%
      margin: 0 20px
      img
        display: block
        max-height: 230px
        height: auto
        margin: 0 auto
        width: 80%
        max-width: 330px
    &-art
      margin-top: 60px
      text-align: left
      color: $gray
      font-size: 14px
      @media ( max-width: 575px )
        margin-top: 30px
    &-title
      font-size: 24px
      text-align: left
      font-weight: 500
      @media ( max-width: 1440px )
        font-size: 18px
      span
        color: $gray
        font-size: 18px
    &-price
      margin-top: 30px
      color: $orange
      font-size: 24px
      margin-bottom: 30px
    &-buy
      a
        @include button ()
        font-size: 24px
        max-width: 260px
        width: 100%
        margin: 0 auto
        font-weight: 500
        border: 2px solid $salat
        color: $salat
        height: 68px
        &:hover
          background: $green
          border: 2px solid $green
          color: $white

    
.store
  margin-bottom: 100px
  &__box
    &-item
      padding-left: 60px
      margin-bottom: 50px
      &-title
        position: relative
        h4
          font-size: 28px
          font-weight: 600
          padding-top: 5px
        img
          position: absolute
          left: -50px
      &-tel
        p
          margin: 0
        a
          padding: 0
          color: $black-full
      &-bold
        font-size: 20px
        font-weight: 500
        color: $black-full
        margin: 0
        
/*articles*/
.category
  margin-top: 150px
  &__box
    position: relative
    #collapseExampleMain
      position: absolute
      z-index: 10
      width: 95%
      .card
        border: 1px solid $gray
        #collapseExample
          .card
            border: none
            .nav-link
              color: $black
    &-inner
      background: $green
      border-top-left-radius: 8px
      border-top-right-radius: 8px
      .btn
        font-size: 34px
        width: 100%
        text-align: left
        img
          margin-left: 30px
        span
          margin-left: 30px
          color: $white
          font-weight: 600
          @media ( max-width: 768px )
            font-size: 22px
  .form-control
    height: 65px
    // .show
    //   position: absolute
    //   width: 100%
    //   z-index: 10
.paginations
  .page-link
    border: none
    color: $black
  &__button
    display: flex
    justify-content: center
    margin-bottom: 100px
    @media ( max-width: 768px )
      flex-wrap: wrap
    &-prev
      a
        @include button ()
        border: 2px solid $green 
        width: 275px
        height: 70px
        color: $green
        font-size: 22px
        margin: 0 15px
        @media ( max-width: 768px )
          margin-bottom: 20px
          font-size: 18px
          height: 50px
          width: 250px
        &:hover
          border: 2px solid $green
          background: $green
          color: $white
    &-next
      a
        @include button ()
        border: 2px solid $green
        width: 275px
        height: 70px
        font-size: 22px
        margin: 0 15px
        background: $green
        color: $white
        @media ( max-width: 768px )
          font-size: 18px
          height: 50px
          width: 250px
        &:hover
          color: $green
          border: 2px solid $green
          background: none




.articles
  margin-top: 50px
  &__box
    margin-bottom: 50px
    &-img
      img
        display: block
        width: 100%
    &-title
      margin-top: 30px
      h2
        font-size: 34px
        font-weight: 600
        @media ( max-width: 1440px )
          font-size: 24px
    &-text
      p
        font-size: 24px
        line-height: 27px
        @media ( max-width: 1440px )
          font-size: 18px
    &-sub
      display: flex
      justify-content: space-between

/*about*/
.center
  text-align: center
  margin-top: 100px
  margin-bottom: 70px
  font-size: 50px
  font-weight: 600
  @media ( max-width: 1440px )
    margin-top: 60px
    font-size: 34px
.about-one
  margin-top: 150px
  &__img
    img
      display: block
      width: 100%
  &__title
    h2
      font-size: 50px
      font-weight: 600
      @media ( max-width: 1440px )
        font-size: 34px
    p
      font-size: 24px
      line-height: 27px
      color: $black
      @media ( max-width: 1440px )
        font-size: 18px
        line-height: 20px
.about-two
  margin-bottom: 100px
  @media ( max-width: 1440px )
    margin-bottom: 50px
  &-img
    img
      width: 100%
  &__item
    padding-left: 70px
  &__number
    position: absolute
    left: 10px
    top: 0
    span
      position: absolute
      width: 50px
      height: 50px
      display: flex
      justify-content: center
      align-items: center
      content: ''
      background: $ber
      border-radius: 50%
      color: $green
      font-weight: 600
      font-size: 30px
  &__title
    h3
      font-size: 30px
      font-weight: 600
      @media ( max-width: 1440px )
        font-size: 22px
  &__text
    p
      font-size: 24px
      font-weight: 300
      line-height: 27px
      @media ( max-width: 1440px )
        font-size: 18px
        line-height: 20px
  &__content
    margin-top: 80px
    margin-bottom: 100px
    @media ( max-width: 1440px )
      margin: 60px 0
  

.product
  margin-top: 150px
  &__sidebar
    &-block
      padding: 1.25rem
      #collapseExample
        .card
          border: none
          .nav-link
            color: $black
    &-inner
      border: 1px solid $gray
      border-radius: 8px
      &-text
         background: $green
         border-top-left-radius: 8px
         border-top-right-radius: 8px
         display: flex
         padding: 2px
         img
           margin-left: 30px
         span
          font-size: 34px
          color: $white
          margin-left: 30px
    &-box
      .btn
        text-align: left
      .collapse
        .nav-link
          a
            color: $black
  &__sector
    &-box
      display: flex
      justify-content: center
    &-item
      border: 1px solid $gray
      border-radius: 8px
      max-width: 410px
      min-width: 320px
      margin: 15px
      max-height: 400px
      width: 100%
      display: block
      @media ( min-width: 1440px )
        max-width: 30%
      @media ( max-width: 768px )
        margin: 20px auto  
      a
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        height: 100%
        p
          text-align: center
          font-size: 34px
          line-height: 40px
          color: $black
          @media ( max-width: 1440px )
            font-size: 24px
            line-height: 28px
        img
          max-width: 100%
          margin: 0 auto
          display: block
          height: auto


/*product-inner*/
.product-inner
  &__left
    &-img
      border: 1px solid $gray
      border-radius: 8px
      img
        width: 100%
        border-radius: 8px
    &-feature
      &-text
        margin-top: 100px
        @media ( max-width: 575px )
          margin-top: 50px
        h2
          font-size: 30px
          font-weight: 600
      &-item
        width: 75%
        display: flex
        justify-content: space-between
        border-bottom: 1px solid $gray
        margin-bottom: 25px
        @media ( max-width: 575px )
          width: 100%
  &__right
    &-count
      background: $mint
      display: flex
      justify-content: center
      align-items: center
      max-width: 220px
      height: 55px
      width: 100%
      margin-bottom: 30px
      border-radius: 8px
      font-size: 22px
    &-text
      h1
        font-size: 34px
        line-height: 40px
        font-weight: 600
        @media ( max-width: 575px )
          font-size: 22px
          line-height: 30px
    &-price
      font-size: 32px
      margin-top: 30px
      color: $orange
      @media ( max-width: 575px )
        font-size: 22px
    &-button
      a
        @include button ()
        max-width: 275px
        width: 100%
        background: $green
        color: $white
        font-size: 22px
        margin: 40px 0
        border: 2px solid $green
        &:hover
          border: 2px solid $green
          background: none
          color: $green
    &-description
      h2
        font-size: 30px
        font-weight: 600

.bread
  margin-top: 150px
  .breadcrumb
    background: none
    &-item
      a
        color: $black




.footer
  background: $black
  &-main
    padding: 60px 0
    &__nav
      .navbar-nav
        .nav-item
          .nav-link
            color: $white
    &__box
      position: relative
      &-title
        color: $white
        font-size: 28px
      p
        color: $white
        &:nth-child(2)
          position: absolute
          left: 45px
          display: flex
          &:after
           position: absolute
           left: -45px
           top: 10px
           display: block
           content: ''
           width: 30px
           height: 2px
           background: $green 
      a
        color: $white
        font-size: 22px
        @include button ()
        background: $salat
        max-width: 350px
        width: 100%
        height: 70px
        border: 2px soldi $green
        margin-top: 100px
        @media ( max-width: 768px )
          height: 50px
          width: 250px
          font-size: 18px
        &:hover
          color: $green
          background: none
          border: 2px solid $green
  &-copy
    color: $white
    margin: 0 auto
  
